*{
	padding: 0;
	margin: 0;
	font-family: "Dosis", sans-serif;
}
body{
	background-image: url(../images/summer3.jpg);
}
 /* Homepage Css */
 .home{
 	background-image: linear-gradient(rgba(53, 82, 66, .5), rgba(47, 80, 63, .6)), url(../images/bg.jpeg);
 	background-position: center;
 	background-size: cover;
 	text-align: center;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	height:100vh;
 }
 .home > div > h1{
 	text-shadow: 2px 2px 4px #000000;
	font-size: 80px;
	color: #ddd;
	font-weight: 300;
	margin-bottom: 30px;
	animation-name: moveToleft;
	animation-duration: 2s;
 }
 .home span{
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.home p{
    font-size: 50px;
    font-weight: 300;
    color: #eee;
    margin-bottom: 20px;
    animation-name: moveToright;
    animation-duration: 2s;
}
.home button, .btn{
    width: 100px;
    padding: 12px;
    margin: 20px;
    border: 2px solid #eee;
    font-size: 18px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn-left{
    background-color: #eee;
    color: #444;
    animation-name: animateBtn;
    animation-duration: 1s;
    animation-delay: 1.5s; 
    animation-fill-mode: backwards;
}
.btn-right{
    background-color: transparent;
    color: #eee;
    animation-name: animateBtn;
    animation-duration: 1s;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
}
 .left{
 	height: 100vh;
 	width: 50vw;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 }
 .right{
 	height: 100vh;
 	width: 50vw;
 }
 /* End Homepage Css */

 /* Sticky Navbar Css */
 .navbar{
 	height: 50px;
 	display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 900;
    background-color: rgba(1, 1, 1, .5);  
    text-shadow: 2px 2px 4px #000000;
 }
 .navbar > ul > li{
 	list-style-type: none;
 	display: inline;
 }
 .navbar ul{
 	margin-right: 25px;
 }
 .navbar > ul > li > a{
 	text-decoration: none;
 	padding: 10px;
 	color: white;
 	border: 1px solid white;
 }
 .navbar > p{
 	font-size: 30px;
 	font-weight: bolder;
 	padding-left: 25px;
 	color: lightblue;
 }
 /* End Sticky Navbar Css */

 /* Quotes Css | Section 2 */
 .quotes{
	height: 100vh;
	background-image: url(../images/summer3.jpg);
	display: flex;
}
 .quotes p{
 	font-size: 30px;
 }
 .left > div{
 	width: 60%;
 	border: 1px solid white;
 	padding: 25px;
 	color: white;
 	background-image: url(../images/summer3.jpg); 
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
    box-shadow: 10px 10px 5px #aaaaaa;
 }
 .right > div{
 	width: 60%;
 	border: 1px solid white;
 	padding: 25px;
 	color: white;
 	background-image: url(../images/summer3.jpg);  
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
    -webkit-box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47); 
	box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47);
 }
  .right > .quote3{
 	width: 60%;
 	border: 1px solid white;
 	padding: 25px;
 	color: white;
 	background-image: url(../images/summer3.jpg); 
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Safari */
    transform: rotate(4deg);
    -webkit-box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47); 
	box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47);
    margin-top: 75px;
 }
 .quote-footer{
 	text-align: right;
 	font-size: 15px !important;
	font-weight: bolder;
	margin-top: 15px;
 }
 div.polaroid {
	width: 284px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #BFBFBF;
	background-color: white;
	-webkit-box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47); 
	box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47);
	background-color: rgba(255, 255, 255, .15); 
}
.polaroid > img{
	background-image: url(../images/summer4.jpg);
	width: 284px;
	height: 213px;
	background-size: cover;
}
div.rotate_right {
	float: left;
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Safari */
	transform: rotate(7deg);
}
/*End  Quotes Css | Section 2 */

/* About Css | Section 3 */
.about{
	background-image: url(../images/summer6.jpg);
	height: 100vh;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	text-align: center;
 	display: flex;
 	justify-content: center;
 	align-items: center;
	color: white;
}
.about > div > img{
	background-image: url(../images/profile.jpg);
	width: 300px;
	height: 300px;
	border: 5px solid white;
	background-size: cover;
	border-radius: 50%;
}
/* End About Css | Section 3 */

/* Gallery Css | Section 4 */
.gallery{
	background-image: url(../images/summer7.jpg);
	height: 100vh;
	background-size: cover;
	text-align: center;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	font-family: 'Raleway', sans-serif;
 	color: white;
 	text-shadow: 2px 2px 4px #000000;
}
.photo-gallery > img{
	width: 200px;
	height: 200px;
	background-size: cover;
	border: 10px solid white;
	transition: .5s;
	margin-top: 20px;
}
.photo-gallery > img:hover{
	transform: scale(1.5);
}
/* End Gallery Css | Section 4 */

/* Contact Css | Section 5 */
.contact{
	background-image:  linear-gradient(rgba(53, 82, 66, .5), rgba(47, 80, 63, .6)),url(../images/contact.jpg);
	height: 100vh;
	background-size: cover;
	text-align: center;
 	display: flex;
 	justify-content: center;
 	align-items: center;
}
.contact > div > h1{
	color: white;
	font-size: 45px;
}
form > input{
	display: block;
	margin: 15px auto;
	width: 300px;
	height: 25px;
	border-radius: 10px 10px 10px 10px;
	border: none;
	padding: 10px;
	text-align: center;
	outline: none;
	-webkit-box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47); 
	box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47);
}
form > textarea{
	display: block;
	margin: 15px auto;
	width: 300px;
	height: 50px;
	border-radius: 10px 10px 10px 10px;
	border: none;
	padding: 10px;
	text-align: center;
	outline: none;
	-webkit-box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47); 
	box-shadow: -14px 12px 23px 2px rgba(0,0,0,0.47);
}
/* Contact Css | Section 5 */

/* Animations */
@keyframes moveToleft{
    0%{
        transform: translate(120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveToright{
    0%{
        transform: translate(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateBtn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*End Animations */

